<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>Marcos</title>
        <meta name="author" content="The Author"></meta>
    </h:head>
    <!-- Add 50px padding top to the body for the navbar -->
    <h:body style="padding-top: 50px; padding-bottom: 20px;">
        <b:navBar brand="Marcos" brandHref="#" inverse="true" fixed="top">
            <b:navbarLinks>
                <b:navLink value="Link" href="#"></b:navLink>
                <b:navLink value="Link" href="#"></b:navLink>
            </b:navbarLinks>
            <h:form styleClass="navbar-form navbar-right">
                <div class="form-group">
                    <b:inputText id="login" value="#{searchUserController.searchText}"  placeholder="Search user.." fieldSize="sm"/>
                </div>
                <b:commandButton action="#{searchUserController.doSearch()}" value="Search" size="sm" style="margin-left:5px;" look="success" icon="search" iconAlign="right"/>
            </h:form>
        </b:navBar>
				<b:carousel id="carousel" style="width:100%">
				   <b:carouselItem>
				     <img src="http://lorempixel.com/1920/551/sports" alt="Sports" style="width:100%;height:551px"/>
				   </b:carouselItem>
				   <b:carouselItem>
				     <img src="http://lorempixel.com/1920/551/nature" alt="Nature" style="width:100%;height:551px"/>
				   </b:carouselItem>
				   <b:carouselItem>
				     <img src="http://lorempixel.com/1920/551/city"   alt="City" style="width:100%;height:551px"/>
				   </b:carouselItem>
				</b:carousel>
        <b:container>
        	<center><h1 style="margin-top:30px; margin-bottom: 30px;">	Your search!</h1></center>
			<b:row>
				<ui:repeat value="#{searchUserController.users}" var="user">			
				    <b:column col-sm="6" col-md="4">
				        <b:thumbnail>
				            <img src="http://lorempixel.com/g/400/200" alt="User"/>
				            <f:facet name="caption">
				                <h3>#{user.login}</h3>
				                <p>My role in this app is #{user.role}. If you can see my posts, click in next button..</p>
				                <p>
				                <h:form>			                
				                	<b:commandButton value="Show" look="info" update="prueba" onclick="$('.modalPseudoClass').modal();ajax:searchUserController.viewProfile(user)" />              
				                </h:form>

				                </p>
				            </f:facet>
				        </b:thumbnail>
				    </b:column>
	            </ui:repeat>
            </b:row>
           		
			<b:modal id="amodal" title="All Posts" styleClass="modalPseudoClass" closable="false" close-on-escape="false" backdrop="false">
			    	<p>All Posts</p>
			        <b:row id="prueba">
			            <ui:repeat value="#{searchUserController.posts}" var="p">
						    	<p style="margin-left:15px;"><b>This User have a next posts:</b> #{p.getId()}</p>
						</ui:repeat>
					</b:row>
			    <f:facet name="footer">
			        <b:button value="close" dismiss="modal" onclick="return false;"/>
			        <b:button value="Ok" look="primary" dismiss="modal" onclick="return false;"/>
			    </f:facet>
			</b:modal>
			
		    <hr/>
            <footer>
            <p>Marcos Martínez Pérez ESI 2016/2017</p>
            </footer>
        </b:container>

    </h:body>
</html>